.about{
    display: flex;
    flex-direction: row;
    margin-top: 8vh;
    margin-left: 4vw;
}

.aboutP{
    margin: 10px;
    font-size: x-large;
}

.aboutText{
    /* min-height: 25vh; */
    
    margin-left: 4vw;
    text-wrap: wrap;
    margin-right: 4vw;
    text-align: justify;
    /* min-width: 400px; */
    background-color: #FCEB54;
    box-shadow: 0 0 0 2px navy, 8px 8px 0 0 rgb(228, 126, 145);
    /* overflow: auto; */
    /* text-overflow: ellipsis; */
    /* max-width: 100%; */
}

.beadKitImage{
    box-shadow: 0 60px 80px rgba(0,0,0,0.60), 0 45px 26px rgba(0,0,0,0.14);
    width: 40vw;
}

/* img{
    margin: 0;
} */

@media screen and (max-width: 1200px) and (min-width: 769px){
    .aboutP{
        font-size: large;
    }
}

@media screen and (max-width: 768px) {
    .aboutP{
        font-size: small;
    }
}