.cart{
    display: flex;
    flex-direction: column;
    margin-left: 4vw;
}

.cartContent {
    display: flex;
    justify-content: space-between;
    margin: 1vh;
    background-color: rgba(61,213,188);
}

.total {
    display: flex;
    justify-content: flex-end;
    margin-right: 1vw;
}

button.remove{
    display: inline;
    background-color: transparent;
    border: none;
    color: navy;
}
button.remove:hover{
    color: white;
}