.editReviewButton{
    width: 100px;
    height: 50px;
    background-color: navy;
    color: white;
    border: none;
}

h3{
    font-family: 'Sedgwick Ave Display';
    font-size: 3vh;
    text-shadow: 2px 1px 2px white;
}

.myReviewsList, .myOrdersList{
    display: flex;
    flex-direction: column;
    margin-left: 4vw;
    
} 

.reviewContent, .orderPiecesContent{
    display: flex;
    justify-content: space-between;
    margin: 1vh;
    
}
