@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.navLink {
  font-family: 'Bebas Neue', cursive;
  font-size: 2em;
  /* position: absolute; */
  /* top: 50%; */
  text-shadow: 1px 1px 2px white;
  /* left: 50%;   */
  /* transform: translate(-50%,-50%); */
  background-image: linear-gradient(orange, orange);
  background-size: 100% 10px;
  background-repeat: no-repeat;
  background-position: 100% 0%;
    transition: background-size .7s, background-position .5s ease-in-out;
}

.navLink:hover {
  background-size: 100% 100%;
  background-position: 0% 100%;
  transition: background-position .7s, background-size .5s ease-in-out;
  color: navy;
}

@media screen and (max-width: 769px) and (min-width: 480px){
    .navLink {
        font-size: 1.5em;
    }
}
@media screen and (max-width: 479px){
    .navLink {
        font-size: 1em;
    }
}