.confirmation{
    margin-top: 4vh;
}
.confirmationText{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    text-shadow: 1px 1px 2px white;
    font-weight: 550;
    margin-bottom: 1vh;
}
.thanks{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    text-shadow: 1px 1px 2px white;
    font-weight: 500; 
}
.kidPower{
    height: 300px;
    width: 200px;
    display: block;
    margin: 0 auto;
    /* position: relative; */
    /* box-shadow: 0 60px 80px rgba(0,0,0,0.60), 0 45px 26px rgba(0,0,0,0.14); */
}
.imgBackground{
    position: relative;
    bottom: 270px;
    left: 40px;
    z-index: -2;
    background-color: #02075d;
    height: 300px;
    width: 200px;
    margin: 0 auto;
    box-shadow: 0 60px 80px rgba(0,0,0,0.60), 0 45px 26px rgba(0,0,0,0.14);
}

@media screen and (max-width: 769px) and (min-width: 480px){
    .confirmationText{
        font-size: large;
    }
    .thanks{
        font-size: medium;
    }
    .kidPower{
        width: 125px;
        height: 175px;
    }
    .imgBackground{
        bottom: 158px;
        left: 20px;
        z-index: -2;
        height: 175px;
        width: 125px;
        box-shadow: 0 40px 54px rgba(0,0,0,0.6), 0 20px 12px rgba(0,0,0,0.14);
    }
}
@media screen and (max-width: 479px){
    .confirmationText{
        font-size: medium;
    }
    .thanks{
        font-size: small;
    }
    .kidPower{
        width: 75px;
        height: 100px;
    }
    .imgBackground{
        bottom: 90px;
        left: 12px;
        z-index: -2;
        height: 100px;
        width: 75px;
        box-shadow: 0 27px 36px rgba(0,0,0,0.6), 0 30px 18px rgba(0,0,0,0.14);
    }
}