.card{
   margin-top: 4rem;
   border: none;
   box-shadow: 0px 1px 0px 0px navy, 1px 0px 0px 0px navy, 1px 2px 0px 0px navy, 2px 1px 0px 0px navy, 2px 3px 0px 0px navy, 3px 2px 0px 0px navy, 3px 4px 0px 0px navy, 4px 3px 0px 0px navy, 4px 5px 0px 0px navy, 5px 4px 0px 0px navy, 5px 6px 0px 0px navy, 6px 5px 0px 0px navy, 6px 7px 0px 0px navy, 7px 6px 0px 0px navy, 7px 8px 0px 0px navy, 8px 7px 0px 0px navy;
}

.h5{
    color: navy;
    text-decoration: none;
}

.piece_image{
    width: 24rem;
    height: 24rem;
    margin-top: 0;
}

.piece_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
    text-decoration: none;
}