button{
    background-color: navy;
    color: white;
    width: 14vw;
    height: 6vh;
    align-self: flex-end;
    font-size: large;
}

.detailImage{
    box-shadow: 0 60px 80px rgba(0,0,0,0.60), 0 45px 26px rgba(0,0,0,0.14);
}

.orderButton{
    margin: 2vh 4vw;
    text-wrap: wrap;
}

.piece{
    display: flex;
    flex-direction: row;
    margin-top: 8vh;
    margin-left: 4vw;
}

.pieceReviews{
    margin-top: 5vh;
    margin-left: 4vw;
    margin-right: 4vw;
}

.pieceText{
    padding: 15px;
    font-size: x-large;
    margin-left: 4vw;
    text-wrap: wrap;
    margin-right: 4vw;
    text-align: justify;
    background-color: #FCEB54;
    box-shadow: 0 0 0 2px navy, 8px 8px 0 0 rgb(228, 126, 145);
} 

.pieceTextButton{
    display: flex;
    flex-direction: column;
}

.reviewButton{
    margin-bottom: 1vh;
}

.reviewDiv {
    background: rgba(61,213,188);
    border: 2px solid navy;
    margin: 8px;
    padding: 4px;
    border-radius: 2%;
    box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.45), 25px 0 20px -20px rgba(0, 0, 0, 0.45);
}


@media screen and (max-width: 1200px) and (min-width: 769px){
    button{
        font-size: medium;
    }
    .detailImage{
        width:40vw;
    }
    .pieceName, .piecePrice{
        font-size: 24px;
    }
    li, h4{
        font-size: 18px;
    }
    .reviewerName, p{
        font-size: 13px;
    }
}
@media screen and (max-width: 768px){
    button{
        font-size: small;
    }
    .detailImage{
        width:40vw;
    }
    .pieceName, .piecePrice{
        font-size: 18px;
    }
    li, h4{
        font-size: 13.5px;
    }
    .reviewerName, p{
        font-size: 10px;
    }
}
@media screen and (max-width: 529px){
    button{
        font-size: x-small;
    }
}
@media screen and (max-width: 479px){
    button{
        font-size: xx-small;
    }
}